<h1>Todos los Proveedores</h1>
<h3><%= link_to 'Agregar Proveedor', new_provider_path, :class => 'btn btn-success' %></h3>

<%= link_to_function "Buscar Proveedor", "$('#hide').toggle()", :class => "btn btn-info" %><br>
<div id="hide" style="display:none">
<br>
<form method="GET" action="/providers/search">
Nombre: <input type="text" name="name"> &nbsp;&nbsp;&nbsp;
<input type="submit" value="Buscar">
</form>
</div>


<CENTER>
<table class="table table-striped">
<thead>
  <tr>
    <th><CENTER><%=link_to "Nombre", :sort => "name" %></CENTER></th>
  </tr>
</thead>
<tbody>
<% @providers.each do |provider| %>
  <tr>
    <td><CENTER><%= provider.name %></CENTER></td>
    <td><%= link_to 'Ver', {:controller => :providers, :action => 'show', :id => provider.id} , :class => 'btn btn-mini btn-success' %>
    <%= link_to 'Editar', {:controller => :providers, :action => "edit", :id => provider.id}, :class => 'btn btn-mini btn-info' %>
    <%= link_to 'Eliminar', provider, method: :delete, data: { confirm: 'Seguro de eliminar el proveedor?' }, :class => 'btn btn-mini btn-danger' %></td>
  </tr>
<% end %>
</tbody>
</table>
</CENTER>