<p id="notice"><%= notice %></p>
<CENTER>
<p>
  <b>Nombre:</b>
  <%= @provider.name %>
</p>

<p>
  <b>Email:</b>
  <%= @provider.mail %>
</p>

<p>
  <b>Telefono:</b>
  <%= @provider.phone %>
</p>

<p>
  <b>Locacion:</b>
  <%= @provider.country %>
</p>

<%= link_to 'Editar', edit_provider_path(@provider), class: "btn btn-primary"  %>
<br><br>
<%= button_to 'Volver', providers_path, :method => :get, class: "btn  btn-primary"  %>
</CENTER>