<center><H1><%= @provider.name %> </H1></center>  

<strong>Email:</strong><br>    
<p><%= @provider.mail %></p>

<strong>Telefono:</strong><br>
<p><%= @provider.phone %></p>

<strong>Direccion: </strong><br>
<p><%= @provider.address %></p>

<div align="left">
  <%= button_to 'Volver', providers_path, :method => :get, :class => 'btn btn-default  ' %><br> 
</div>