<br>
<br>

<% title "Iniciar Sesi칩n" %>

<%= form_tag sessions_path do %>
	<div class="col-xs-3">	
  		<p>
  		<%= label_tag :login, "Nombre de Usuario" %>
  		<%= text_field_tag :login, params[:login], :class => 'form-control', :placeholder => 'Nombre de usuario...' %>
  		</p>
  		<p>
  		<%= label_tag :password, "Contrase침a" %>
  		<%= password_field_tag :password, params[:password], :class => 'form-control', :placeholder => 'Contrase침a...' %></p>
  		<p><%= submit_tag "Iniciar sesi칩n", :class => "btn btn-lg btn-primary btn-block" %>
  	</div>
<% end %>
