<% title "Servicios" %>
<div class="hero-unit">
<h1>Lista de Servicios</h1>
<br>

<table class="table table-striped">
  <tr>
    <th>Nº</th>
    <th>Cliente</th>
    <th>Nombre Producto</th>
    <th>Codigo Producto</th>
    <th>Estado</th>
    <th>Fecha</th>
    <th></th>
    <th></th>
  </tr>

<% @technical_services.each do |technical_service| %>
  <tr>
    <td><%= technical_service.id %></td>
    <td><%= technical_service.client %></td>
    <td><%= technical_service.product_name %></td>
    <td><%= technical_service.product_code %></td>
    <td><%= technical_service.status %></td>
    <td><%= technical_service.created_at %></td>
    <td><%= link_to 'Ver Servicio', :controller => :technical_services, :action => 'show', :id => technical_service.id %></td>
    <td><%= link_to 'Modificar Servicio', :controller => :technical_services, :action => 'edit', :id => technical_service.id %></td>
  </tr>
<% end %>
</table>
</br>
<%= link_to 'Registrar Servicio', :controller => :technical_services, :action => 'new' %>
</div>