<% title "Servicios" %>
<div class="hero-unit">
<h1>Lista de Servicios</h1>

<table class="table table-bordered">
  <tr class="warning">
    <th>Nº</th>
    <th>Cliente</th>
    <th>Nombre Producto</th>
    <th>Codigo Producto</th>
    <th>Estado</th>
    <th>Fecha</th>
  </tr>

<% @technical_services.each do |technical_service| %>
  <tr class="info">
    <td><%= technical_service.id %></td>
    <td><%= technical_service.client %></td>
    <td><%= technical_service.product_name %></td>
    <td><%= technical_service.product_code %></td>
    <td><%= technical_service.status %></td>
    <td><%= technical_service.created_at %></td>
  </tr>
<% end %>
</table>
</br>
<%= link_to 'Registrar Servicio', :controller => :technical_services, :action => 'new' %>
</div>