<% title "Registrar Servicio" %>
<div class="hero-unit">

<h1>Registrar Servicio</h1></br>
	<%= form_validated_for(@technical_service) do |f| %>
  		<!--<div class="row">-->
			

			<%= f.label :product_code , "*Codigo del Producto:" %>
			<p><%= f.text_field :product_code, :maxlength => '20' %></p>

			<%= f.label :product_name , "*Nombre del Producto:" %>
			<p><%= f.text_area :product_name, :maxlength => '20' %>	</p>
	
			<%= f.label :detail , "*Detalle:" %>
			<p><%= f.text_area :detail, :maxlength => '100' %></p>

			<%= f.label :client , "*Cliente:" %>
			<p><%=f.collection_select(:client, Client.all, :name, :name)%></p>
	
			<p><%= f.submit "Registrar servicio", class: "btn btn-large btn-primary" %></p>
			
		<!--</div>-->
	<%end%>
</div>