<%= form_validated_for([@order, @order.productorders.build]) do |f| %>
  <div class="col-xs-3">
    <b><%= f.label :name, "Producto" %></b>
    <p><%=f.collection_select(:nombre_producto, Productname.all, :id, :name)%></p>

   <p> <%= f.label :quantity, "Cantidad" %>
    <%= f.text_field :quantity, :maxlength => '4' %><br>
   <p> <%= f.label :price, "Precio Unit." %>
    <%= f.text_field :price, :maxlength => '4' %><br>
    <p><%= f.submit "Agregar Producto a Pedido", class: "btn btn-large btn-primary" %>
    <p><%= link_to 'Cancelar', order_path(@order), method: :delete, :class => 'btn btn-danger' %></p>
    </div>
  
<% end %>