<%= form_validated_for([@order, @order.productorders.build]) do |f| %>
<CENTER>
    <%= f.label :name, "Nombre del producto" %>
    <%=f.collection_select(:nombre_producto, Productname.all, :name, :name)%>
    <p>
    <%= f.label :code, "Codigo del producto" %>
    <%=f.collection_select(:code, Productname.all, :code, :code)%>
    </p>
    <p>
    <%= f.label :description, "descripcion" %>
    <%= f.text_area :description, :maxlength => '100' %>
    </p>
    <p>
    <%= f.label :quantity, "Cantidad" %>
    <%= f.text_field :quantity, :maxlength => '4' %>
    </p>
  
  <p>
    <%= f.submit "Registrar Producto", class: "btn btn-large btn-primary" %>
  </p>
<% end %>
</CENTER>