<% title "Editar Producto de Pedido" %>
<CENTER>
<h1>Editar Producto</h1>

<div class="row">
	<div class="col-xs-3">
	<%= form_validated_for(@productorder) do |f| %>
  		<div class="field">
			<p><%= f.label :nombre_producto , "Nombre del producto:" %>
			<%=f.collection_select(:name, Productname.all, :id, :name)%>
		</div>
		<p>
    		<%= f.label :description, "descripcion" %>
    		<%= f.text_area :description, :maxlength => '100' %>
    	</p>
		<p><%=f.label :code, "Codigo" %>
    		<%= f.text_field :code, :maxlength => '10'%>
    	<p>
    		<%= f.label :quantity, "Cantidad" %>
    		<%= f.text_field :quantity, :maxlength => '4' %>
    	</p>
		<p><%= f.submit "Editar Producto", class: "btn btn-large btn-warning" %></p>
	</div>
	<!--</div>-->
	<%end%>
	</div>
</div>
</CENTER>
<div align="left">
	<%= button_to 'Volver', productorders_path, :method => :get, class: "btn  btn-default"  %>
</div>