<p id="notice"><%= notice %></p>
<CENTER>
<p>
  <b>Nombre:</b>
  <%= @productorder.nombre_producto %>
</p>
<p>
  <b>Codigo:</b>
  <%= @productorder.code %>
</p>

<p>
  <b>Descripcion:</b>
  <%= @productorder.description %>
</p>

<p>
  <b>Cantidad:</b>
  <%= @productorder.quantity %>
</p>

<p>
    <strong>Estado del pedido</strong><br>
   <%if @productorder.ingresado == true %>
   	Ingresado
   <%else%>
   	Pendiente
   <%end%>
</p>

<%= link_to 'Editar', edit_productorder_path(@productorder), class: "btn btn-primary"  %>
</CENTER>