<% title "Editar" %>
<h1>Editar</h1>
<div class="col-xs-3">
<%= form_validated_for @client do |f| %>

      <p><%= f.label :name, '*Nombre completo:' %>
      <%= f.text_field :name %>

      <p><%= f.label :nit, '*NIT:' %>
      <%= f.text_field :nit%>

      <p><%= f.label :phone, '*Telefono/Celular:' %>
      <%= f.text_field :phone, :class => 'form-control', :maxlength => 8 %>

      <p><%= f.submit (@client.new_record? ? 'Crear cliente' : 'Guardar cambios'), :class => 'btn btn-lg btn-jordi' %></p>
<% end %>
	<%= button_to 'Volver', clients_path, :method => :get, class: "btn btn-default"  %>
</div>

