<% title "Registrar Pedido" %>

<h1>Registrar Pedido</h1>

<div class="row">
	<div class="col-xs-3">
  <h1><%= @order.id %></h1>
	<%= form_validated_for(@order) do |f| %>
			<%=f.label :provider, "Proveedor" %>
    	<%=f.collection_select(:provider, Provider.all, :name, :name)%>
      <%= f.submit "Registrar pedido", class: "btn btn-large btn-primary" %>
	</div>

Productos:
<table border=1>
  <tr>
    <th>Nombre</th>
    <th>Codigo</th>  
    <th>Cantidad</th>
    <th>Estado</th>
  </tr>

<% cantidad=@order.productorders.length%>
<% if cantidad == 0 %>
<% nuevo = true %>
<% end %>
<% @order.productorders.each do |productito| %>
  <tr>
    <td><CENTER><%= productito.nombre_producto%></CENTER></td>
    <td><CENTER><%= productito.code %></CENTER></td>
    <td><CENTER><%= productito.quantity %></CENTER></td>
    <%if productito.ingresado == true%>
      <% cantidad -= 1 %>
      <% nuevo = false %>
      <%@order.ingresado = true%> 
      <%@order.save%>
      <td>Ingresado</td>
    <%else%>
    <% cantidad += 1 %>
    <% nuevo = false %>
      <td>Pendiente</td>
    <%end%>
    <td><%=link_to "Ver", :controller => :productorders, :action => 'show', :id => productito.id, :order_id => @order.id %></td> 
    <% if productito.ingresado == false %>
    <td><%=link_to "Editar", :controller => :productorders, :action => 'edit', :id => productito.id, :order_id => @order.id %></td>
    <td><%= link_to 'Eliminar de pedido', :controller => :productorders, :action => 'eliminar_producto_pedido', :id => productito.id, :order_id => @order.id %></td>
    <td><%= link_to 'Registrar ingreso', :controller => :products, :action => "registrar_ingreso", :id => productito.id %></td>
    <% end %>
  </tr>
<% end %>
</table>
<br>
<%if nuevo == true || cantidad > 0 %>
  <Center><%= link_to_function "Agregar producto a pedido", "$('#hide').toggle()" %></Center>
  <div id="hide" style="display:none">
    <%= render "productorders/form" %>
  </div>
<%end%>
<br>

<%= f.submit "Registrar pedido", class: "btn btn-large btn-primary" %>

<%end%>

<%= button_to 'Volver', orders_path, :method => :get, :class => 'btn btn-default' %>
</div>
</CENTER>