<% title "Lista de pedidos" %>
<h1>Lista de pedidos</h1>

<h3><%= link_to 'Registrar pedido', new_order_path, :class => 'btn btn-success' %></h3>

<%= link_to_function "Buscar", "$('#hide').toggle()", :class => "btn btn-info" %><br>
<div id="hide" style="display:none">
<br>
<form method="GET" action="/orders/search">
Proveedor: <input type="text" name="provider"> &nbsp;&nbsp;&nbsp;
<input type="submit" value="Buscar">
</form>
</div>

<CENTER>

<table class="table table-striped">
    <thead>
        <tr>
            <th><Center>Numero de pedido</Center></th>
            <th><Center>Fecha</Center></th>
            <th><Center>Proveedor</Center></th>   
        </tr>
    </thead>
    <tbody>
        <% @orders.each do |order| %>
            <tr>
                <td><CENTER><%= order.numero_pedido %></CENTER></td>
                <td><CENTER><%= order.created_at.strftime("%d/%m/%Y") %></CENTER></td>
                <td><CENTER><%= order.provider %></CENTER></td>
                <td><%= link_to 'Ver', :controller => :orders, :action => "show", :id => order.numero_pedido %></td>
                <% if order.estado == "Pendiente" %>
                <td><%= link_to 'Eliminar', order_path(order), method: :delete, data: { confirm: 'Seguro?' }, :class => 'btn btn-mini btn-danger' %></td>
                <td><%= link_to 'Editar', :controller => :orders, :action => "edit", :id => order.id %></td>
                <% end %>        
            </tr>
        <% end %>
    </tbody>
</table>
<br>
</Center>
