<% title "Registrar Pedido"%>

<h1>Registrar Pedido</h1>
	<%= form_validated_for(@order) do |f| %>
  		<!--<div class="row">-->
			<div class="col-xs-3">

			<p><%= f.label :id , "Numero de pedido:" %>
			<%= f.text_field :id %>

			<p><%=f.label :provider, "Proveedor" %>
    		<%=f.collection_select(:provider, Provider.all, :name, :name)%>

			<p><%= f.submit "Registrar Pedido", class: "btn btn-large btn-jordi" %></p>
			</div>
		<!--</div>-->
	<%end%>
	<div align="left">
	<%= button_to 'Volver', orders_path, :method => :get, class: "btn btn-default"  %>
</div>