<%= form_validated_for(@productname) do |f| %>
  <p>
    <%= f.label :name, "Nombre del producto" %>
    <%= f.text_field :name, :maxlength => '20'%>
    <%=f.label :brand, "Marca" %>
    		<%=f.collection_select(:brand, Brand.all, :name, :name)%>
  </p>

  <p>
    <%= f.label :code, "Codigo del producto" %>
    <%= f.text_field :code, :maxlength => '10'%>
    <%= f.label :serial, "Numero serial" %>
    <%= f.text_field :serial, :maxlength => '15' %>
  </p>
  <p>
    <%= f.label :description, "Descripcion" %>
    <%= f.text_area :description, :maxlength => '160'%>
  </p>
  <p>
    
  </p>
  <p></p>


  <p><%= f.submit (@productname.new_record? ? 'Registrar Producto' : 'Guardar Cambios'), :class => 'btn btn-lg btn-success' %></p>
<% end %>