<%= form_validated_for(@productname) do |f| %>
<CENTER>
  <p>
    <%= f.label :name, "Nombre del producto" %>
    <%= f.text_field :name, :maxlength => '20'%>
  </p>

   <p>
    <%= f.label :code, "Codigo del producto" %>
    <%= f.text_field :code, :maxlength => '10'%>
  </p>
  
  <p><%= f.submit (@productname.new_record? ? 'Crear Nombre de Producto' : 'Guardar Cambios'), :class => 'btn btn-lg btn-success' %></p>
<% end %>
</CENTER>