<h1>Lista de Productos</h1>
<h3><%= link_to 'Agregar Nombre Producto', new_productname_path, :class => 'btn btn-success' %></h3>

<%= link_to_function "Buscar Nombre de Producto", "$('#hide').toggle()", :class => "btn btn-info" %><br>
<div id="hide" style="display:none">
<br>
<form method="GET" action="/productnames/search">
Nombre: <input type="text" name="name"> &nbsp;&nbsp;&nbsp;
<input type="submit" value="Buscar">
</form>
</div>

<CENTER>
<table class="table table-striped">
<thead>
  <tr>
   <th><CENTER>Nombre</CENTER></th>
    <th><CENTER> Codigo </CENTER></th>
  </tr>
</thead>
<tbody>
<% @productnames.each do |producto| %>
  <tr>
    <td><CENTER><%= producto.name %></CENTER></td>
    <td><CENTER><%= producto.code %></CENTER></td>
    <td><%= link_to 'Editar producto', edit_productname_path(producto), :class => 'btn btn-mini  btn-warning' %>
    <%= link_to 'Eliminar producto', producto, method: :delete, data: { confirm: 'Seguro de eliminar el nombre del producto?' }, :class => 'btn btn-mini btn-danger' %></td>
  </tr>
<% end %>
</tbody>
</table>
</CENTER>