<h1>Todas las Productos</h1>
<h3><%= link_to 'Agregar Nombre Producto', new_productname_path, :class => 'btn btn-success' %></h3>
<CENTER>
<table class="table table-striped">
<thead>
  <tr>
    <th><CENTER><%=link_to "Nombre", :sort => "name" %></CENTER></th>
  </tr>
</thead>
<tbody>
<% @productnames.each do |producto| %>
  <tr>
    <td><CENTER><%= producto.name %></CENTER></td>
    <td><%= link_to 'Ver', producto, :class => 'btn btn-mini' %>
    <%= link_to 'Editar', edit_productname_path(producto), :class => 'btn btn-mini' %>
    <%= link_to 'Eliminar', producto, method: :delete, data: { confirm: 'Seguro de eliminar el nombre del producto?' }, :class => 'btn btn-mini btn-danger' %></td>
  </tr>
<% end %>
</tbody>
</table>
</CENTER>