<p>
  <b>Nombre:</b>
  <%= @productname.name %>
</p>

  <b>Codigo:</b>
  <%= @productname.code%>
</p>

  <b>Categoria:</b>
  <%= @productname.description %>
</p>

  <b>Marca:</b>
  <%= Brand.find(@productname.brand_id).name %>
</p>

<%= link_to 'Editar producto', edit_productname_path(@productname), class: "btn btn-warning"  %>
<br><br>

<div align="left">
	<%= button_to 'Volver', productnames_path, :method => :get, class: "btn  btn-default"  %>
</div>
