<h1>Todas las Categorias</h1>
<h3><%= link_to 'Agregar Categoria', new_category_path, :class => 'btn btn-success' %></h3>

<%= link_to_function "Buscar", "$('#hide').toggle()", :class => "btn btn-info" %><br>
<div id="hide" style="display:none">
<br>
<form method="GET" action="/categories/search">
Nombre: <input type="text" name="name"> &nbsp;&nbsp;&nbsp;
<input type="submit" value="Buscar">
</form>
</div>

<CENTER>
<table class="table table-striped">
<thead>
  <tr>
    <th><CENTER><%=link_to "Nombre", :sort => "name" %></CENTER></th>
  </tr>
</thead>
<tbody>
<% @categories.each do |category| %>
  <tr>
    <td><CENTER><%= category.name %></CENTER></td>
    <td><%= link_to 'Editar', edit_category_path(category), :class => 'btn btn-mini' %>
    <%= link_to 'Eliminar', category, method: :delete, data: { confirm: 'Seguro de eliminar la marca?' }, :class => 'btn btn-mini btn-danger' %></td>
  </tr>
<% end %>
</tbody>
</table>
</CENTER>