<% title "Añadir a pagina" %>
<CENTER>
<h1>Añadir Producto</h1>
<div class="row">
	<div class="span6 offset3">
		<%= form_validated_for (@product) do |f| %>
  			<%= f.error_messages %>

			<%= @product.name %>
	
			<%= f.label :photo, "Foto:" %>
			<%= f.file_field :photo %><br>

			<p><%= f.label :description , "Descripcion:" %>		
			<%= f.text_area :description %><br>
			
			<p><%= f.submit "Añadir Producto"%></p>>
		<%end%>
	</div>
</div>
</CENTER>