<% title "Añadir a pagina" %>

<h1>Añadir Producto</h1>


<div class="row">
	<div class="span6 offset3">
		<%= form_validated_for (@product) do |f| %>
  			<%= f.error_messages %>

			<center><strong><p><%= @product.name %></p></strong></center>
	
			<p><%= f.label :photo, "Foto:" %></p>
			<%= f.file_field :photo %><br>

			<p><%= f.label :description , "Descripcion:" %>	</p>
			<%= f.text_area :description %><br>
			<%= f.hidden_field :control, :value=>'true'%><br>
			<p><%= f.submit "Añadir Producto",  class: "btn  btn-jordi"%></p>
		<%end%>
	</div>
</div>
