<% title "Editar de pagina" %>
<CENTER>
<h1>Editar Producto</h1>
<div class="row">
	<div class="span6 offset3">
		<%= form_validated_for (@product) do |f| %>
  			<%= f.error_messages %>

			<h3><%= @product.name %></h3>
	
			<%= f.label :photo, "Foto:" %>
			<%= f.file_field :photo %><br>

			<%= f.label :description , "Descripcion:" %>
			<%= f.text_area :description %><br>

			<%= f.submit "Actualizar Producto" , class: "btn btn-large btn-primary"%>
		<%end%>
	</div>
</div>
</CENTER>