<% title "Editar de pagina" %>

<h1>Editar Producto</h1>
<div class="row">
	<div class="span6 offset3">
		<%= form_validated_for (@product) do |f| %>
  			<%= f.error_messages %>

			<center><h3><%= @product.name %></h3></center>
	
			<p><%= f.label :photo, "Foto:" %></p>
			<%= f.file_field :photo %><br>

			<p><%= f.label :description , "Descripcion:" %></p>
			<%= f.text_area :description, :maxlength => '100' %><br> <br>
			<%= f.hidden_field :control, :value => true%>
			<%= f.submit "Guardar cambios" , class: "btn btn-large btn-jordi"%>
		<%end%>
	</div>
</div>
