<CENTER>
	<h1>Editar Producto</h1>

	<%=form_for (@product) do |f| %>

		Cantidad Actual: <%= @product.quantity%>
	
		<%= f.label :increase , "Cantidad a Aumentar:" %>
		<%= f.text_field :increase %><br>

		<%= f.submit "Aumentar Productos"%>

	<%end%>
</CENTER>


