<CENTER>
	<h1>Aumentar Productos</h1>

	<%=form_for (@product) do |f| %>
		
		Cantidad Actual: <%= @product.quantity%>
	
		<%= f.label :increase , "Cantidad a Aumentar:" %>
		<%= f.text_field :increase %><br>

		<%= f.submit "Aumentar Productos"%>
		
	<%end%>
</CENTER>


