<% title "kardex" %>


 <H1><%= @product.name %> </H1>
 <H1><%= @product.code %> </H1>
 

<h1>Kardex de Producto</h1>
<table class="table table-striped">
  <tr>
    <th>Nº</th>
    <th>Fecha</th>
    <th>Detalle</th>
    <th>Ingreso</th>
    <th>Salida</th>
    <th>Saldo</th>
    <th></th>
    <th></th>
  </tr>

  <tr>
    <td><%= @product.created_at.strftime("%d/%m/%Y") %></td>
    <td><%= @product.detail %></td>
    <td><%= @product.income %></td>
    <td><%= @product.ingreso %></td>
    <td><%= @product.status %></td>
  </tr>

</table>