<% title "Registrar Producto" %>


<h1>Registrar Producto</h1>
	<%= form_validated_for(@product) do |f| %>
  		<!--<div class="row">-->
			<div class="col-xs-3">

			<p><%= f.label :name , "Nombre:" %>
			<%= f.text_field :name %>
	
			<p><%= f.label :detail , "Detalle:" %>
			<%= f.text_area :detail %>


			<p><%= f.label :general_code , "Codigo General del Producto:" %>
			<%= f.text_field :general_code %>

 			<p><%=f.label :category, "Categoria" %>
    		<%=f.collection_select(:category, Category.all, :name, :name)%>

    		<p><%=f.label :brand, "Marca" %>
    		<%=f.collection_select(:brand, Brand.all, :name, :name)%>

			<p><%= f.label :bought_price , "Precio De Compra:" %>
			<%= f.text_field :bought_price %>


			<p><%= f.label :sale_price , "Precio De Venta:" %>
			<%= f.text_field :sale_price %>
	
			<p><%= f.submit "Crear Producto", class: "btn btn-large btn-primary" %></p>
			</div>
		<!--</div>-->
	<%end%>

