<CENTER>
<h1>Registrar Producto</h1>
<div class="row">
	<div class="span6 offset3">
		<%= form_for(@product) do |f| %>
  			<% if @product.errors.any? %>
    		<div id="error_explanation">
      			<h2><%= pluralize(@product.errors.count, "error") %> Prohiben que este producto se guarde:</h2>
		      	<ul>
      				<% @product.errors.full_messages.each do |msg| %>
        			<li><%= msg %></li>
      		<% end %>
      			</ul>
    		</div>
  		<% end %>
			<%= f.label :name , "Nombre:" %>
			<%= f.text_field :name %><br>
	
			<%= f.label :detail , "Detalle:" %>
			<%= f.text_area :detail %><br>


			<%= f.label :general_code , "Codigo General del Producto:" %>
			<%= f.text_field :general_code %><br>


			<%= f.label :brand , "Marca:" %>
			<%= f.select :brand, options_for_select([['Toshiba', 'Toshiba'], ['Dell', 'Dell'], ['Sony', 'Sony'], ['3M', '3M'], ['Asus', 'Asus'], ['Samsung', 'Samsung'], ['ViewSonic', 'ViewSonic'], ['Amazon', 'Amazon'], ['Apple', 'Apple'], ['eBeam', 'eBeam'], ['Epson', 'Epson'], ['BenQ', 'BenQ'], ['NEC', 'NEC'], ['HP', 'HP']], selected: :brand) %><br>

			<%= f.label :category , "Categoria:" %>
			<%= f.select :category, options_for_select([['Laptops', 'Laptops'], ['Maletines', 'Maletines'], ['Mochilas', 'Mochilas'], ['Accesorios', 'Accesorios'], ['Impresoras', 'Impresoras'], ['Proyectores', 'Proyectores'], ['Tablets', 'Tablets'], ['Mobiliarios', 'Mobiliarios']], selected: :category) %><br>

			<%= f.label :bought_price , "Precio De Compra:" %>
			<%= f.text_field :bought_price %><br>


			<%= f.label :sale_price , "Precio De Venta:" %>
			<%= f.text_field :sale_price %><br>
	
			<%= f.submit "Crear Producto", class: "btn btn-large btn-primary" %>
		<%end%>
	</div>
</div>
</CENTER>
