<% title "Todos los productos" %>
<h1>Todos Los Productos</h1>

<CENTER>
  <table class="table table-striped">
    <thead>
      <tr>
        <th><CENTER>Descripcion</CENTER></th>
        <th><CENTER>Foto</CENTER></th>
        <th></th>
        <th></th>
      </tr>
    </thead>
    <% @products.each do |product| %>
      <% if product.home == true %>
        <tr>
          <td><CENTER><%= product.description %></CENTER></td>
          <td><CENTER><img src= '<%=product.photo.url %>' width=60 height=60></a></CENTER></td>
          <% if current_user %>
          <td><%= link_to 'Ver', :class => 'btn btn-mini', :controller => :products, :action => 'view_product', :id => product.id%></td>

          <td><%= link_to 'Editar', :class => 'btn btn-mini', :controller => :products, :action => 'edit_to_home', :id => product.id%></td>
          
          <td><%= button_to 'Eliminar Producto de pagina', :controller => :products, :action => 'delete_from_home', :id => product.id %></td>
          <% end %>
      <% end %>
        </tr>
    <% end %>
  </table>
  <br>
</Center>

<h3><CENTER><%= link_to 'Añadir Producto a Pagina', products_path, :class => 'btn btn-success'%><CENTER></h3>


<% if current_user %>
<h3><CENTER><%= link_to 'Añadir Producto', products_path, :class => 'btn btn-success'%><CENTER></h3>
<% end %>


