<% title "Todos los productos" %>
<h1>Todos Los Productos</h1>

<%= link_to_function "Buscar", "$('#hide').toggle()", :class => "btn btn-info" %><br>
<div id="hide" style="display:none">
<br>
<form method="GET" action="/products/search_to_home">
Nombre: <input type="text" name="name"> &nbsp;&nbsp;&nbsp;
<input type="submit" value="Buscar">
</form>
</div>
<CENTER>
  






 <table class="table table-striped">
    <thead>
      <tr>
        <th><CENTER>Nombre</CENTER></th>
        <th><CENTER>Foto</CENTER></th>
        <th></th>
        <th></th>
      </tr>
    </thead>
    <% @products.each do |product| %>
      <% if product.home == true %>
        <tr>
          <td><CENTER><%= product.name %></CENTER></td>
          <td><CENTER><img src= '<%=product.photo.url %>' width=60 height=60 class="img-rounded"></a></CENTER></td>
          <% if current_user %>
          <td><%= link_to 'Ver', :class => 'btn btn-mini', :controller => :products, :action => 'view_product', :id => product.id%></td>

          <td><%= link_to 'Editar', :class => 'btn btn-mini', :controller => :products, :action => 'edit_to_home', :id => product.id%></td>
          
          <td><%= button_to 'Eliminar Producto de pagina', :controller => :products, :action => 'delete_from_home', :id => product.id, :class => 'btn btn-mini btn-danger' %></td>
          <% end %>
      <% end %>
        </tr>
    <% end %>
  </table>
  
  <br>

</Center>

<% if current_user %>
<h3><CENTER><%= link_to 'Añadir Producto', products_path, :class => 'btn btn-success'%><CENTER></h3>
<% end %>


