<% title @product.name %>
<CENTER><H1><%= @product.name %> </H1>


    
    <strong>Detalle:</strong><br>    
    
<p>         <% @product.detail.split.each do |palabra|%>
                            <%= palabra %></br>
                        <%end%>
</p>

    
    <strong>Cantidad</strong><br>
<p>    <%= @product.quantity %>
</p>


    <strong>Codigo del producto: </strong><br>
<p>    <%= @product.general_code %>
</p>


    <strong>Marca: </strong><br>
<p>    <%= @product.brand %>
</p>


    <strong>Categoria: </strong><br>
<p>    <%= @product.category %>
</p>

 
<!--<p>
    <strong>Precio de Compra:</strong><br>
    <%= @product.bought_price %>
</p>-->


    <strong>Precio de venta: </strong><br>
<p>    <%= @product.sale_price %>
</p>    
<%= button_to 'Editar', edit_product_path(@product), :class => 'btn btn-warning',:method => :get %><br>
<%= button_to 'Volver', products_path, :method => :get, :class => 'btn btn-default  ' %><br>

  </CENTER>
 