<center><% title @product.name %></center>
<br>
<center><H1><%= @product.name %> </H1></center>  

<strong>Detalle:</strong><br>    
<p><%= @product.detail %></p>

<strong>Cantidad:</strong><br>
<p><%= @product.quantity %></p>

<strong>Codigo del producto: </strong><br>
<p><%= @product.general_code %></p>


<strong>Marca: </strong><br>
<p><%= @product.brand %></p>


<strong>Categoria: </strong><br>
<p><%= @product.category %></p>

<%= button_to 'Editar producto', edit_product_path(@product), :class => 'btn btn-warning',:method => :get %><br>

<div align="left">
  <%= button_to 'Volver', products_path, :method => :get, :class => 'btn btn-default  ' %><br> 
</div>