<head>
	<meta http-equiv="refresh" content="15" />
</head>	
<% title "Confirmar Venta" %>
<div class="hero-unit">
<CENTER>
<h1>Registrar Datos Venta</h1>
<br>
<%= form_validated_for (@sale) do |f| %>
	<div class="col-xs-3">
		<p>
			<%= f.label :nit , "NIT Cliente:" %>
			<%= f.collection_select(:nit, Client.all, :nit, :nit)%>
		</p>
		

		<p>
			<%= f.label :check_number , "Numero de Factura:" %>
			<%= f.text_field :check_number, :value => "", :maxlength => '12'%>
		</p>	

		<p>
			<%= f.submit "Confirmar Venta", class: "btn btn-large btn-primary" %>
		</p>
	</div>	
<%end%>
</CENTER>
</div>