<% title "Registrar Venta" %>
<CENTER>
<h1>Registrar Venta</h1>
<%= form_validated_for (@sale) do |f| %>
	<div class="col-xs-3">
	<p>
		<%= f.label :client_name , "Nombre del Cliente:" %>
		<%= f.text_field :client_name %></p>

		<p><%= f.label :check_number , "Numero de Factura:" %>
		<%= f.text_field :check_number %>
		</p>
	
	<p>
		<%= f.label :nit , "NIT Cliente:" %>
		<%= f.text_field :nit %>
</p>
<p>
		<%= f.submit "Registrar Venta", class: "btn btn-large btn-primary" %>
		</p>
	</div>	
<%end%>
</CENTER>