<% title @sale.client_name %>
<div class="hero-unit">
<CENTER><H1><%= @sale.client_name %> </H1>
<br>
<p>
    Numero de Factura:<br>
    <%= @sale.check_number %>
</p>

<p>
    Nit del Cliente:<br>
    <%= @sale.nit%>
</p>

<p>
    Fecha de venta:<br>
    <%= @sale.created_at %>
</p>

<p>    
    Total Venta:<br>
    <%= @sale.price %>
</p>

<p>
    <h2><Center><%= link_to_function "Detalle", "$('#hide').toggle()" %></Center></h2>
    <div id="hide" style="display:none">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th><Center>Nombre</Center></th>
                    <th><Center>Codigo del SubProducto</Center></th>
                    <th><Center>Marca</Center></th>
                    <th><Center>Categoria</Center></th>
                    <th><Center>Precio</Center></th>        
                </tr>
            </thead>
            <tbody>
                <% @sale.subproducts.each do |subproduct| %>
                    <tr>
                        <td><CENTER><%= subproduct.product.name %></CENTER></td>
                        <td><CENTER><%= subproduct.code %></CENTER></td>
                        <td><CENTER><%= subproduct.product.brand %></CENTER></td>
                        <td><CENTER><%= subproduct.product.category %></CENTER></td>
                        <td><CENTER><%= subproduct.product.sale_price %></CENTER></td>
                        <td><%= link_to 'Eliminar de venta', :controller => :subproducts, :action => 'eliminar_subproducto_venta', :id => subproduct.id, :sale_id => @sale.id %></td>
                    </tr>
                <% end %>
            </tbody>
        </table>
    </div>
</p>

<% if @sale.confirmed == false %>
<p>
    <h2><Center><%= link_to_function "Agregar Productos a venta", "$('#subproduct').toggle()" %></Center></h2>
    <div id="subproduct" style="display:none">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th><Center>Nombre</Center></th>
                    <th><Center>Codigo del SubProducto</Center></th>
                    <th><Center>Marca</Center></th>
                    <th><Center>Categoria</Center></th>
                    <th><Center>Precio De Venta</Center></th>        
                </tr>
            </thead>
            <tbody>
                <% @subproducts.each do |subproduct| %>
                    <tr>
                        <%if subproduct.available == true || subproduct.available == "NULL"%>
                        <td><CENTER><%= subproduct.product.name %></CENTER></td>
                        <td><CENTER><%= subproduct.code %></CENTER></td>
                        <td><CENTER><%= subproduct.product.brand %></CENTER></td>
                        <td><CENTER><%= subproduct.product.category %></CENTER></td>
                        <td><CENTER><%= subproduct.product.sale_price %></CENTER></td>
                        
                        <td><%= link_to 'Agregar a Venta', :controller => :subproducts, :action => 'agregar_subproducto_venta', :id => subproduct.id, :sale_id => @sale.id %></td>
                        <% end %>
                    </tr>
                <% end %>
            </tbody>
        </table>
    </div>
</p>
<%if @sale.price !=0 %>
<%= link_to 'Confirmar Venta', :controller => :sales, :action => 'confirm_sale', :identificator => @sale.id%><br>
<%end%>
<%= link_to 'Cancelar Venta', :controller => :sales, :action => 'cancel_sale', :deletor => @sale.id%><br>
<%end%><br> 
<%= button_to 'Volver', sales_path, :method => :get, :class => 'btn btn-default' %><br>

  </CENTER>
  </div>