<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
  <div class="container" style="height: 50px;">
    <div class="navbar-header">
      <a class="navbar-brand" href="/">INFORMATICACOMP</a>
    </div>
    <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
          <% if current_user %>  
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Pagina<b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li class="dropdown-header">Productos de pagina</li>
                <li><a href="/products/">Añadir producto a pagina</a></li>
                <li><a href="/products_home/">Lista de productos de pagina</a></li>
                <li class="dropdown-header">Categorias</li>
                <li><a href="/categories/new">Crear categoria</a></li>
                <li><a href="/categories">Lista de categorias</a></li>
              </ul>
            </li>
          
            <% if current_user.rol == "enc_almacen" || current_user.rol == "gerente" %>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Almacen<b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li class="dropdown-header">Productos</li>
                <li><a href="/productnames/new">Registrar producto</a></li>
                <li><a href="/productnames">Lista de productos</a></li>
                <li><a href="/products">Stock de productos</a></li>
                <li class="dropdown-header">Marcas</li>
                <li><a href="/brands/new">Registrar marca</a></li>
                <li><a href="/brands">Lista de marcas</a></li>
                <li class="dropdown-header">Proveedores</li>
                <li><a href="/providers/new">Añadir proveedor</a></li>
                <li><a href="/providers">Lista de proveedores</a></li>
                <li class="dropdown-header">Pedidos</li>
                <li><%= link_to 'Registrar pedido', {:controller => "orders", :action => "create", :numero_pedido => (rand() * 100).to_i, :id => '1', :estado => 'Pendiente', :ingresado =>false, :provider => "Harry"}, :method => "post" %></li>
                <li><a href="/orders">Lista de pedidos</a></li>
              </ul>
            </li>
            <%end%>

            <% if current_user.rol == "secre" || current_user.rol == "gerente" %>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Ventas<b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><%= link_to 'Registrar Venta', {:controller => "sales", :action => "create", :price => '0', :confirmed => 'false', :check_number => '1111', :nit =>'1111111', :client_name => "Harry"}, :method => "post" %></li>
                <li><%= link_to "Lista de ventas", sales_path %></li>
              </ul>
            </li>
            <%end%>

            <% if current_user.rol == "tecnico" || current_user.rol == "gerente" %>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Servicio Tecnico<b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><a href="/technical_services/new">Registrar servicio</a></li>
                <li><a href="/technical_services">Buscar servicios</a></li>
              </ul>
            </li>
            <%end%>

            <% if current_user %>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Reportes<b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><a href="/inventario">Reporte de inventario</a></li>
                <li><a href="/incomes">Reporte de ingresos</a></li>
                <li><a href="/egresos">Reporte de egresos</a></li>
                <li><a href="/sales/report_search">Reporte de ventas</a></li>
                <li><a href="/servicios">Reporte de servicios</a></li>
              </ul>
            </li>
            <%end%>

            <% if current_user.rol == "tecnico" || current_user.rol == "gerente" || current_user.rol == "secre" %>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Clientes<b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><a href="/clients/new">Registrar cliente</a></li>
                <li><a href="/clients">Lista de clientes</a></li>
              </ul>
            </li>
            <%end%>

            <% if current_user.rol == "admin" || current_user.rol == "gerente" %>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Usuarios<b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><a href="/users/new">Crear usuario</a></li>
                <li><a href="/users/">Lista de usuarios</a></li>
              </ul>
            </li>
            <%end%>
          <%end%>
          </ul>

          <p class="navbar-text navbar-right">
            <% if current_user%>
              <%= link_to "Cerrar sesión", logout_path, :class => "btn btn-xs btn-danger" %>
              <%= link_to "Cambiar Contraseña", {:controller => :users, :action => 'edit', :id => current_user.id}, :class => "btn btn-xs btn-warning"%>
            <% else %>
              <%= link_to "Iniciar sesión", login_path, :class => "btn btn-xs btn-info" %>
            <% end %>
          </p>
    </div>
  </div>
</div>