<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="navbar-inner">
    <div class="container">
      <%= link_to "INFORMATICACOMP", root_url, id: "logo" %>
      <nav>
        <ul class="nav pull-right">
          <li id="fat-menu" class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              Producto
              <b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
              <li><%= link_to "Ver Lista de Productos", '/products_home' %></li> <!--agregado-->
              <li><%= link_to "Añadir producto a pagina", '/products/' %></li> <!--agregado-->
              <!--li><%= link_to "Eliminar producto de pagina", '#' %></li>
              <li><%= link_to "Editar producto de pagina", '#' %></li>
              <li><%= link_to "Ver producto de pagina", '#' %></li-->
            </ul>
          </li>
          <li id="fat-menu" class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              Almacen 
              <b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
              <li><%= link_to "Ver Stock de Productos", '/products' %></li>  
              <li><%= link_to "Registros", '/products/new' %></li> <!--agregado-->
              <li><%= link_to "Boletas", '#' %></li>
              <li><%= link_to "Reportes", '#' %></li>
              <li><%= link_to "Impresiones", '#' %></li>
            </ul>
          </li>
          <li id="fat-menu" class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              Ventas 
              <b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
              <li><%= link_to "Registrar", '#' %></li>
              <li><%= link_to "Reportes", '#' %></li>
              <li><%= link_to "Impresiones", '#' %></li>
              <li><%= link_to "Todas las ventas", '#' %></li>
            </ul>
          </li>
          <li id="fat-menu" class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              Usuarios 
              <b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
              <li><%= link_to "Crear usuario", '/users/new' %></li>
              <li><%= link_to "Lista de Usuarios", '/users' %></li>  
              <li><%= link_to "Eliminar Usuario", '/users' %></li> <!--agregado-->
            </ul>
          </li> 
            <!--form class="navbar-form navbar-left" role="search">
              <div class="form-group">
                <input type="text" class="form-control" placeholder="Buscar" width='10'>
              </div>        
            </form-->
          </li>
          <%if current_user%>
            <li id="fat-menu" class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                <%= current_user.email%> 
                <b class="caret"></b>
              </a>
              <ul class="dropdown-menu">
                <li><%= link_to "Cambiar Contraseña", '#' %></li>
                <li><%= link_to "Cerrar Sesion", logout_path %></li>
              </ul>
            </li>
          <%else%>
            <li><%= link_to "Iniciar Sesion", login_path %></li>
          <%end%>
        </ul>
      </nav>
    </div>
  </div>
</header>

